.locais-container {
  display: flex;
  flex-direction: column;
  background-color: #252525;


  .locais-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;

    .locais-titulo{
      width: 1000px;
      font-size: 50px;
      font-weight: 700;
      color: #Fe4;
    }
  }

  .faculdades-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .faculdade {
      position: relative;
      width: 33.3%;
      height: 50vh;
      transition: ease-in-out .3s ;
      overflow: hidden;

      .titulo-faculdade{
        top: 15px;
        left: 90px;
        position: absolute;
        font-size: 42px;
        font-weight: 700;
        color:chartreuse;
        z-index: 1;
      }

      .subtitulo-faculdade {
        position: absolute;
        font-size: medium;
        font-weight: 500;
        color: black;
        z-index: 1;
        top: 400px;
        transition: ease-in-out .3s ;
        margin: 0 20px;
        opacity: 0;
      }
      
      .faculdade-image {
        position: absolute;
        z-index: 0;
        left: -20px;
      }
    }

    .faculdade:hover .subtitulo-faculdade {
      display: block;
      top: 270px;
      opacity: 100;
    }

    .faculdade:hover .faculdade-image {
      opacity: 90%;
    }

    .faculdade:hover {
      width: 40%;
    }
  }
}